<h1>This is the show template of category</h1>

<a href="/category/<%=category._id%>/company/new">Add new companies</a>

</p>
<%category.companyname.forEach(function(company){%>
    <p><strong><%=company.name%></strong> <img src="<%=company.image%>">- <%=company.descr%></p>
    <a href="/company/<%=company._id%>">show more info about company</a>

    <%})%>
    

-
