<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8 main">
    <h1>User Profile</h1>
    <hr />
    <h2>My Orders</h2>
    <% orders.forEach(function(order){%>
    <ul class="list-group">
      <li class="list-group-item border">
        totlal quantity: <%=order.cart.totalQty %>
      </li>
      <li class="list-group-item border">
        address: <%=order.address %>
      </li>
      <li>
        Products:
        <ul>
          <% Object.keys(order.cart.items).forEach(function (key){%>
          <li>
            <%= order.cart.items[key].qty%>.<%=
            order.cart.items[key].item.name%> - <%=
            order.cart.items[key].price%>
          </li>
          <%});%>
          <%console.log(order.cart.items[Object.keys(order.cart.items)[1]])%>
        </ul>
      </li>
      <li class="list-group-item list-group-item-success">
        Total price:<%=order.cart.totalPrice%>
      </li>
    </ul>
    <%})%>
  </div>
</div>
