<%- include('../partials/header'); -%> <% var total = 0, c1 = 0,c2 = 0,c3= 0,c4
= 0,c5 = 0 %> <%constructor.comments.forEach(function(comment){%>
<%if(comment.rating == 1) {c1++;} else if(comment.rating == 2) {c2++;} else
if(comment.rating == 3) {c3++;} else if(comment.rating == 4) {c4++;} else
if(comment.rating == 5) {c5++;}%> <%})%> <% total = ( c1*1 + c2*2 + c3*3 + c4*4
+ c5*5 ) / ( c1 + c2 + c3 + c4 + c5 ) %>
<div style="background-color: #e0ebeb;">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="card" style="margin-top: 6rem;">
          <div class="card-body">
            <div class="card-title mb-4">
              <img
                src="https://www.pngitem.com/pimgs/m/30-307416_profile-icon-png-image-free-download-searchpng-employee.png"
                id="imgProfile"
                class="img-thumbnail"
              />
              <h2><%=constructor.name%></h2>
              <h5>
                <%for(var i=0 ; i< total ;i++){%>
                <i class="fas fa-star fa-lg" style="color: #ffdf00;"></i>
                <%}%>
              </h5>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3 col-md-2 col-5">
                <label id="labelstyle">Email</label>
              </div>
              <div class="col-md-8 col-6">
                <%=constructor.email%>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3 col-md-2 col-5">
                <label id="labelstyle">Adress</label>
              </div>
              <div class="col-md-8 col-6">
                <%=constructor.address%>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3 col-md-2 col-5">
                <label id="labelstyle">Phone</label>
              </div>
              <div class="col-md-8 col-6">
                <%=constructor.phonenumber%>
              </div>
            </div>
            <hr />
            <div class="row">
              <div class="col-sm-3 col-md-2 col-5">
                <label id="labelstyle">Price per hour</label>
              </div>
              <div class="col-md-8 col-6">
                <%=constructor.pricePerHour%>
              </div>
            </div>
            <hr />
            <a href="/constructors/<%=constructor._id%>/request/new"
              ><button class="btn btn-success" type="submit">
                Send Request to Constructor
              </button></a
            >
            <br />
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <div class="card" id="style">
          <div class="card-body">
            <div class="card-title mb-4">
              <h2>Comments</h2>
              <%constructor.comments.forEach(function(comment){%>
              <div class="container">
                <div class="row">
                  <div class="col-auto">
                    <i class="fas fa-user-circle fa-3x"></i>
                  </div>
                  <div class="col">
                    <strong style="padding-right: 5px;"
                      ><%=comment.author.username%></strong
                    >
                    - <%for(var i=0 ; i< comment.rating ;i++){%>
                    <i class="fas fa-star fa-lg" style="color: #ffdf00;"></i>
                    <%}%>
                    <br />
                    <div class="row">
                      <div class="col-8"><p><%=comment.text%></p></div>

                      <% if(currentUser &&
                      comment.author.id.equals(currentUser._id)){%>
                      <div class="col-4">
                        <div>
                          <form
                            class="form-inline"
                            action="/constructors/<%=constructor._id%>/comments/<%=comment._id%>?_method=DELETE"
                            method="POST"
                            style="float: right;"
                          >
                            <div
                              class="form-group mb-2"
                              style="padding-right: 20px;"
                            >
                              <input
                                type="submit"
                                class="btn btn-sm btn-danger"
                                value="Delete"
                              />
                            </div>
                            <div class="form-group mb-2">
                              <a
                                style="padding-right: 15px; padding-left: 15px;"
                                class="btn btn-sm btn-warning"
                                id="edit"
                                href="/constructors/<%=constructor._id%>/comments/<%=comment._id%>/edit"
                                >Edit</a
                              >
                            </div>
                          </form>
                        </div>
                      </div>
                      <% } %>
                    </div>
                  </div>
                </div>
                <hr />
              </div>
              <%})%> <br />
              <a href="/constructors/<%=constructor._id%>/comments/new"
                ><button id="style" class="btn btn-success" type="submit">
                  Add New Comment
                </button></a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <a href="/constructorhelp"
      ><i class="fas fa-arrow-left" id="goBackBtn"> Back</i></a
    >
  </div>
</div>

<%- include('../partials/footer'); -%>
