<%- include('../partials/header'); -%>
<div class="container">
    <div class="jumbotron" style="padding-top: 6rem;">
        <div class="container" style="text-align: center;">
            <p>Searching for a specific <strong>Product </strong>?</p>
                <form action="/company/<%=company._id %>" method="GET" class="form-inline justify-content-center">
                    <div class="form-group mx-sm-3 mb-2">
                      <input type="text" class="form-control" name="search" placeholder="product Search">
                    </div>
                    <button type="submit" class="btn btn-outline-success mb-2">Search</button>
                </form>
        </div>
    </div>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <% if(noMatch !== "") { %>
            <h3><%= noMatch %></h3>
            <% }%>
        </div>
    </div>
    <div class="row">
        <%company.products.forEach(function(product){%>
            <div class="col-12 col-md-6 col-lg-4 col-xl-3  col d-flex justify-content-center" style="margin-bottom: 15px;">
                <div class="card text-center" style="max-width:80%;">
                    <img src="<%=product.image%>" alt="error" class="card-img-top" style="height: 150px;">
                    <div class="card-body">
                        <h4 class="card-title"> <%=product.name%> </h4>
                        <p class="card-text" style="color: blue; font-size: 20px;"> <%=product.price%> L.E.</p>
                        <a href="/product/<%=product._id%>/add-to-cart" 
                        class="btn btn-success btn-block" id="addCart">Add to Cart <i class="fas fa-shopping-cart"></i></a>
                    </div>	  	
                </div>
            </div>

        <% }); %>
    </div>
</div>
</div>

<% if(currentUser && currentUser.isAdmin){%>
<a href="/company/<%=company._id%>/product/new">Add new products</a>
<%}%>

<%- include('../partials/footer'); -%>