<%- include('../partials/header'); -%>
<div class="container">

    <header class="jumbotron">
        <div class="container" style="text-align: center;">
            <p>Searching for a specific product?</p>
            <p>
            <form action="/company/<%=company._id %>" method="GET" class="form-inline">
                <div class="form-group">
                    <input type="text" name="search" placeholder="Product Search..." class="form-control">
                    <input type="submit" value="Search" class="btn btn-default">
                </div>
            </form>
            </p>
        </div>
    </header>
    
    <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <div class="col-md-12">
            <% if(noMatch !== "") { %>
            <h3><%= noMatch %></h3>
            <% }%>
        </div>
    </div>
    <div class="row text-center" style="display: flex; flex-wrap: wrap;">
        <%company.products.forEach(function(product){%>
        <div class="col-md-3 col-sm-6">

            <div class="thumbnail">
                <img src="<%=product.image%>" alt="error" style="height: 200px;">
                <div class="caption">
                    <h4> <%=product.name%> </h4>
                </div>
                <h4 style="color: green;"> <%=product.price%> L.E. </h4>
                <p>
                    <a href="/product/<%=product._id%>/add-to-cart" class="btn btn-primary">Add to Cart</a>
                </p>
            </div>
        </div>

        <% }); %>
    </div>
</div>
</div>

<a href="/company/<%=company._id%>/product/new">Add new products</a>

<%- include('../partials/footer'); -%>